@import "theme.css";
@import "./section/header.css";
@import "./section/about-me.css";
@import "./section/skills.css";
@import "./section/experience.css";
@import "./section/footer.css";

/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: normal;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}
