@import "theme.css";
@import "./section/header.css";
@import "./section/about-me.css";
@import "./section/skills.css";
@import "./section/activities.css";
@import "./section/footer.css";

/* Import google font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: normal;
}

body {
  /* Background pattern */
  background-color: var(--foreground-color);
  background: repeating-linear-gradient(
    45deg,
    #cacbf02f,
    #cbcce40e 2.5px,
    #f4f4f515 2.5px,
    #e5e5f73d 12.5px
  );
}

a {
  text-decoration: none;
}

section {
  margin: 120px 0px;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}

.section__description {
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}
